.img1{
    max-width: 99%;
    max-height: 99%;

}
.img-slider{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 600px;
    position:relative;
}
.anterior{
    position:absolute;
    left:0;
}
.siguiente{
    position:absolute;
    right:0;
}
.button-slider{
    opacity: 1;
    height: 100%;
    width: 10%;
    background-color: transparent;
    font-size: 60px;
}
.button-slider:hover{
    background-color:white;
}